<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DirverInforamation</key>
	<array>
		<dict>
			<key>image</key>
			<string>dirver_name.png</string>
			<key>text</key>
			<string>姓名</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dirver_cartype.png</string>
			<key>text</key>
			<string>车辆类型</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dirver_carnumber.png</string>
			<key>text</key>
			<string>车牌号码</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dirver_zaizhong.png</string>
			<key>text</key>
			<string>载重</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dirver_number.png</string>
			<key>text</key>
			<string>驾驶证号</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dirver_phone.png</string>
			<key>text</key>
			<string>联系电话</string>
		</dict>
	</array>
	<key>MElistView - YL</key>
	<array>
		<dict>
			<key>tag</key>
			<string>1000</string>
			<key>image</key>
			<string>Me_localhost.png</string>
			<key>title</key>
			<string>地图标注</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1001</string>
			<key>image</key>
			<string>Me_fabu.png</string>
			<key>title</key>
			<string>我的发布</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1002</string>
			<key>title</key>
			<string>我的活动</string>
			<key>image</key>
			<string>Me_activity.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1003</string>
			<key>title</key>
			<string>我的园林云</string>
			<key>image</key>
			<string>MT_EPCloudImg.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1004</string>
			<key>title</key>
			<string>我的收藏</string>
			<key>image</key>
			<string>Me_collection.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1006</string>
			<key>image</key>
			<string>Me_task.png</string>
			<key>title</key>
			<string>积分/任务</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1007</string>
			<key>title</key>
			<string>推荐给好友</string>
			<key>image</key>
			<string>Me_invite.png</string>
		</dict>
	</array>
	<key>HomePageListView_YL</key>
	<array>
		<dict>
			<key>itemCode</key>
			<string>1001</string>
			<key>itemIcon</key>
			<string>HP_zixun.png</string>
			<key>itemName</key>
			<string>资讯</string>
			<key>id</key>
			<string>2</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1002</string>
			<key>itemIcon</key>
			<string>HP_huati.png</string>
			<key>itemName</key>
			<string>话题</string>
			<key>id</key>
			<string>3</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1004</string>
			<key>itemIcon</key>
			<string>HP_ditu.png</string>
			<key>itemName</key>
			<string>地图</string>
			<key>id</key>
			<string>5</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1005</string>
			<key>itemIcon</key>
			<string>HP_EPCloud.png</string>
			<key>itemName</key>
			<string>园林云</string>
			<key>id</key>
			<string>6</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1007</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1numntmgj214061c9t93toeic.png</string>
			<key>itemName</key>
			<string>天气</string>
			<key>id</key>
			<string>8</string>
			<key>status</key>
			<string>1</string>
		</dict>
	</array>
	<key>SendSeedInfo</key>
	<dict>
		<key>高大乔木</key>
		<array>
			<string>胸径(cm)</string>
			<string>高度(cm)</string>
			<string>冠幅(cm)</string>
			<string>分枝点(cm)</string>
		</array>
		<key>小乔木/灌木/竹类</key>
		<array>
			<string>胸径(cm)</string>
			<string>高度(cm)</string>
			<string>冠幅(cm)</string>
			<string>分枝点(cm)</string>
		</array>
		<key>球体/色块</key>
		<array>
			<string>高度(cm)</string>
			<string>冠幅(cm)</string>
		</array>
		<key>造型植物/古桩/盆景</key>
		<array>
			<string>杆径(cm)</string>
			<string>高度(cm)</string>
			<string>树龄(年)</string>
		</array>
		<key>种子/种球/种苗</key>
		<array>
			<string>公斤</string>
			<string>高度(cm)</string>
		</array>
		<key>草皮/草花/水生植物</key>
		<array>
			<string>高度(cm)</string>
			<string>冠幅(cm)</string>
		</array>
	</dict>
	<key>SeedCloudInfoList</key>
	<array>
		<dict>
			<key>loading_price</key>
			<string>装车价</string>
		</dict>
		<dict>
			<key>num</key>
			<string>数量</string>
		</dict>
		<dict>
			<key>location</key>
			<string>产地</string>
		</dict>
		<dict>
			<key>heignt</key>
			<string>高度</string>
		</dict>
		<dict>
			<key>crown</key>
			<string>冠幅</string>
		</dict>
		<dict>
			<key>diameter</key>
			<string>胸径</string>
		</dict>
		<dict>
			<key>branch_point</key>
			<string>分支点</string>
		</dict>
		<dict>
			<key>four</key>
			<string>米径</string>
		</dict>
		<dict>
			<key>ground_diameter</key>
			<string>地径</string>
		</dict>
		<dict>
			<key>offspring</key>
			<string>苗种</string>
		</dict>
		<dict>
			<key>dendroids</key>
			<string>树形</string>
		</dict>
		<dict>
			<key>branch</key>
			<string>杆枝</string>
		</dict>
		<dict>
			<key>density</key>
			<string>枝叶茂密度</string>
		</dict>
		<dict>
			<key>seedling_type</key>
			<string>苗地类型</string>
		</dict>
		<dict>
			<key>soil_ball_dress</key>
			<string>土球包扎</string>
		</dict>
		<dict>
			<key>soil_ball</key>
			<string>土球土质</string>
		</dict>
		<dict>
			<key>soil_ball_size</key>
			<string>土球尺寸</string>
		</dict>
		<dict>
			<key>soil_thickness</key>
			<string>土球厚度</string>
		</dict>
		<dict>
			<key>soil_ball_shape</key>
			<string>土球形状</string>
		</dict>
		<dict>
			<key>safeguard</key>
			<string>保护措施</string>
		</dict>
		<dict>
			<key>weight</key>
			<string>公斤</string>
		</dict>
	</array>
	<key>CompanyNature</key>
	<array>
		<string>国有企业</string>
		<string>集体企业</string>
		<string>联营企业</string>
		<string>股份合作制企业</string>
		<string>私营企业个体户</string>
		<string>合作企业</string>
		<string>有限责任公司</string>
		<string>股份有限公司</string>
		<string>私营企业</string>
		<string>个体经营户</string>
	</array>
	<key>EPCloudEditListView</key>
	<array>
		<dict>
			<key>text</key>
			<string>企业标志</string>
			<key>tag</key>
			<string>1001</string>
		</dict>
		<dict>
			<key>text</key>
			<string>企业名称</string>
			<key>tag</key>
			<string>1002</string>
		</dict>
		<dict>
			<key>text</key>
			<string>企业简称</string>
			<key>tag</key>
			<string>1003</string>
		</dict>
		<dict>
			<key>text</key>
			<string>公司性质</string>
			<key>tag</key>
			<string>1004</string>
		</dict>
		<dict>
			<key>text</key>
			<string>行业类型</string>
			<key>tag</key>
			<string>1005</string>
		</dict>
		<dict>
			<key>text</key>
			<string>人员规模</string>
			<key>tag</key>
			<string>1006</string>
		</dict>
		<dict>
			<key>text</key>
			<string>公司简介</string>
			<key>tag</key>
			<string>1007</string>
		</dict>
	</array>
	<key>EPCloudCumlativeList</key>
	<array>
		<dict>
			<key>tag</key>
			<string>1001</string>
			<key>title</key>
			<string>基本信息</string>
			<key>image</key>
			<string>EP_xinxi.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1002</string>
			<key>title</key>
			<string>公司形象图片</string>
			<key>image</key>
			<string>EP_xingxiang.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1003</string>
			<key>title</key>
			<string>企业地理位置</string>
			<key>image</key>
			<string>EP_jieshao.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1004</string>
			<key>title</key>
			<string>主营业务</string>
			<key>image</key>
			<string>EP_zhuying.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1005</string>
			<key>title</key>
			<string>企业资质</string>
			<key>image</key>
			<string>EP_zizhi.png</string>
		</dict>
	</array>
	<key>HomePageImageList</key>
	<array>
		<string>HP_ditubiaozhu.png</string>
		<string>HP_zhutihuati.png</string>
		<string>HP_huodongbaoming.png</string>
		<string>HP_hangyerenmai.png</string>
	</array>
	<key>HomePageListView_1</key>
	<array>
		<dict>
			<key>itemCode</key>
			<string>1005</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1ofi1pf1lc71lh31d2o1ch01ir510.png</string>
			<key>itemName</key>
			<string>园林云</string>
			<key>id</key>
			<string>6</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1013</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1ogq08b2ibci9kgh1kvd1vppc.png</string>
			<key>itemName</key>
			<string>企业云</string>
			<key>id</key>
			<string>4</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1014</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1ogppna15tt55e20p15l41c57c.png</string>
			<key>itemName</key>
			<string>人脉云</string>
			<key>id</key>
			<string>3</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1001</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1oif6m819eh6v7m141b1t5kec.png</string>
			<key>itemName</key>
			<string>园林资讯</string>
			<key>id</key>
			<string>2</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1004</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1ogq8mrium1hj81ige1e75h3gc.png</string>
			<key>itemName</key>
			<string>地图</string>
			<key>id</key>
			<string>5</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>status</key>
			<string>1</string>
			<key>itemCode</key>
			<string>1010</string>
			<key>itemIcon</key>
			<string>/icon/o_1b3h33ie41587179v1alauatfvqc.png</string>
			<key>itemName</key>
			<string>积分兑换</string>
			<key>id</key>
			<string>12</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1006</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1ofios51kcu7ftfptng7l73c.png</string>
			<key>itemName</key>
			<string>招聘求职</string>
			<key>id</key>
			<string>7</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1007</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1numntmgj214061c9t93toeic.png</string>
			<key>itemName</key>
			<string>天气</string>
			<key>id</key>
			<string>8</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1011</string>
			<key>itemIcon</key>
			<string>/icon/o_1b4l3vbve193m13q88ilm0m15noc.png</string>
			<key>itemName</key>
			<string>苗途商城</string>
			<key>id</key>
			<string>14</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1012</string>
			<key>itemIcon</key>
			<string>/icon/o_1b86moqko1bhtman8f420u1m7uc.png</string>
			<key>itemName</key>
			<string>苗木物流</string>
			<key>id</key>
			<string>15</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemCode</key>
			<string>1008</string>
			<key>itemIcon</key>
			<string>/icon/o_1b1oisru4oq21k9ib4q1ab51o58c.png</string>
			<key>itemName</key>
			<string>敬请期待</string>
			<key>id</key>
			<string>8</string>
			<key>status</key>
			<string>0</string>
		</dict>
	</array>
	<key>myTask</key>
	<array>
		<array>
			<dict>
				<key>tittle</key>
				<string>完善个人资料</string>
				<key>grade</key>
				<string>+100</string>
				<key>tag</key>
				<string>new_user_complete_person_info</string>
			</dict>
			<dict>
				<key>tittle</key>
				<string>邀请好友</string>
				<key>grade</key>
				<string>+100</string>
				<key>tag</key>
				<string>new_user_invite_friend</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>tittle</key>
				<string>每日登陆</string>
				<key>grade</key>
				<string>+10</string>
				<key>tag</key>
				<string>day_login</string>
			</dict>
			<dict>
				<key>tittle</key>
				<string>转发分享</string>
				<key>grade</key>
				<string>+10</string>
				<key>tag</key>
				<string>day_invite_friends</string>
			</dict>
			<dict>
				<key>tittle</key>
				<string>发表话题</string>
				<key>grade</key>
				<string>+10</string>
				<key>tag</key>
				<string>day_publis_topic</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>tittle</key>
				<string>活跃度排名前十</string>
				<key>grade</key>
				<string>+100</string>
				<key>tag</key>
				<string>week_vitality</string>
			</dict>
			<dict>
				<key>tittle</key>
				<string>发表话题8篇以上</string>
				<key>grade</key>
				<string>+20</string>
				<key>tag</key>
				<string>week_publish_topic</string>
			</dict>
			<dict>
				<key>tittle</key>
				<string>成功参与活动报名</string>
				<key>grade</key>
				<string>+200</string>
				<key>tag</key>
				<string>week_join_actitiy</string>
			</dict>
		</array>
	</array>
	<key>HomePageListView</key>
	<array>
		<dict>
			<key>tag</key>
			<string>1000</string>
			<key>image</key>
			<string>icon1.png</string>
			<key>title</key>
			<string>供求大厅</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1001</string>
			<key>image</key>
			<string>MT_WuLiu.png</string>
			<key>title</key>
			<string>苗木物流</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1002</string>
			<key>image</key>
			<string>MT_ShangCheng.png</string>
			<key>title</key>
			<string>资材商城</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1003</string>
			<key>image</key>
			<string>icon2.png</string>
			<key>title</key>
			<string>活动报名</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1004</string>
			<key>image</key>
			<string>icon3.png</string>
			<key>title</key>
			<string>园林资讯</string>
		</dict>
	</array>
	<key>IdentListView</key>
	<array>
		<dict>
			<key>advantage</key>
			<array>
				<string>1.“金种子”身份及头像勋章；</string>
				<string>2.更高的信息发布权重；</string>
				<string>3.苗途内置顶广告一次；</string>
			</array>
			<key>headerImg</key>
			<string>jzztx.png</string>
			<key>image</key>
			<string>jzztb.png</string>
			<key>nickname</key>
			<string>金种子用户</string>
			<key>title</key>
			<string>苗途世界的拓荒者，仅在大的改版更新时择优邀请加入;</string>
		</dict>
		<dict>
			<key>advantage</key>
			<array>
				<string>1.“站长”身份及头像勋章;</string>
				<string>2.所在地区的地图置顶权利；</string>
				<string>3.最高的信息获取及发布权重；</string>
				<string>4.仅供站长的信息共享渠道；</string>
			</array>
			<key>headerImg</key>
			<string>zztx.png</string>
			<key>image</key>
			<string>zztb.png</string>
			<key>nickname</key>
			<string>苗途站长</string>
			<key>title</key>
			<string>是一群脑门上刻着行业烙印的开拓者，开放申请择优录用：</string>
		</dict>
		<dict>
			<key>advantage</key>
			<array>
				<string>1、“会员”身份及勋章</string>
				<string>2、更高的信息发布权重</string>
				<string>3、享受杂志会员专版宣传服务</string>
				<string>4、享受半年杂志刊物免费邮送</string>
				<string>5、入编会员通讯录、行业大数据库</string>
			</array>
			<key>headerImg</key>
			<string>zztx.png</string>
			<key>image</key>
			<string>zlhztb.png</string>
			<key>nickname</key>
			<string>苗途会员</string>
			<key>title</key>
			<string>积极参与活动并拥护苗途的园林行业用户，可申请加入，客服：4000779991。</string>
		</dict>
		<dict>
			<key>advantage</key>
			<array>
				<string>1、“战略合作单位”身份及勋章</string>
				<string>2、更高的信息发布权重</string>
				<string>3、享受杂志专版宣传服务</string>
				<string>4、享受杂志全部刊物免费邮送</string>
				<string>5、助进中苗会及兄弟品牌更深度的合作</string>
			</array>
			<key>headerImg</key>
			<string>jzztx.png</string>
			<key>image</key>
			<string>hytb.png</string>
			<key>nickname</key>
			<string>战略合作伙伴</string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>launchImage</key>
	<array>
		<string>Group 3 Copy 4.png</string>
		<string>motion.png</string>
		<string>logobannerwhite.png</string>
	</array>
	<key>SettingView</key>
	<array>
		<dict>
			<key>title</key>
			<string>编辑资料</string>
			<key>image</key>
			<string>Setting_me_edit.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>修改密码</string>
			<key>image</key>
			<string>Setting_password.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>清除缓存</string>
			<key>image</key>
			<string>Setting_clean.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>意见反馈</string>
			<key>image</key>
			<string>Setting_idea.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>支持苗途</string>
			<key>image</key>
			<string>Setting_up.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于苗途</string>
			<key>image</key>
			<string>Setting_about.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>退出账号</string>
			<key>image</key>
			<string>Setting_out.png</string>
		</dict>
	</array>
	<key>SettingViewYL</key>
	<array>
		<dict>
			<key>title</key>
			<string>退出账号</string>
			<key>image</key>
			<string>Setting_out.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>个人资料</string>
			<key>image</key>
			<string>Setting_person.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>修改密码</string>
			<key>image</key>
			<string>Setting_password.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>清除缓存</string>
			<key>image</key>
			<string>Setting_clean.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>意见反馈</string>
			<key>image</key>
			<string>Setting_idea.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>支持宜良</string>
			<key>image</key>
			<string>Setting_up.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于宜良</string>
			<key>image</key>
			<string>Setting_about.png</string>
		</dict>
	</array>
	<key>IndustryPickView</key>
	<array>
		<dict>
			<key>i_type_id</key>
			<string>4</string>
			<key>i_name</key>
			<string>园林资材</string>
			<key>i_code</key>
			<string>4</string>
		</dict>
		<dict>
			<key>i_type_id</key>
			<string>3</string>
			<key>i_name</key>
			<string>园林施工</string>
			<key>i_code</key>
			<string>3</string>
		</dict>
		<dict>
			<key>i_type_id</key>
			<string>2</string>
			<key>i_name</key>
			<string>景观设计</string>
			<key>i_code</key>
			<string>2</string>
		</dict>
		<dict>
			<key>i_code</key>
			<string>1</string>
			<key>i_name</key>
			<string>苗木基地</string>
			<key>i_type_id</key>
			<string>1</string>
		</dict>
	</array>
	<key>MElistView</key>
	<array>
		<dict>
			<key>tag</key>
			<string>1000</string>
			<key>image</key>
			<string>Me_localhost.png</string>
			<key>title</key>
			<string>地图标注</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1001</string>
			<key>image</key>
			<string>Me_fabu.png</string>
			<key>title</key>
			<string>我的发布</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1002</string>
			<key>title</key>
			<string>我的活动</string>
			<key>image</key>
			<string>Me_activity.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1003</string>
			<key>title</key>
			<string>我的园林云</string>
			<key>image</key>
			<string>MT_EPCloudImg.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1004</string>
			<key>title</key>
			<string>我的收藏</string>
			<key>image</key>
			<string>Me_collection.png</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>1007</string>
			<key>title</key>
			<string>推荐给好友</string>
			<key>image</key>
			<string>Me_invite.png</string>
		</dict>
	</array>
	<key>systemsetting</key>
	<array>
		<dict>
			<key>data</key>
			<array>
				<dict>
					<key>title</key>
					<string>关于</string>
					<key>image</key>
					<string>sys_guanyu@2x</string>
					<key>index</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>去评分</string>
					<key>image</key>
					<string>sys_pin</string>
					<key>index</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>data</key>
			<array>
				<dict>
					<key>title</key>
					<string>清理缓存</string>
					<key>image</key>
					<string>sys_huancun@2x</string>
					<key>index</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>title</key>
					<string>退 出</string>
					<key>image</key>
					<string>sys_tuichu@2x</string>
					<key>index</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>New item</key>
	<array>
		<dict/>
	</array>
	<key>ReportArray</key>
	<array>
		<string>垃圾营销</string>
		<string>淫秽色情</string>
		<string>不实信息</string>
		<string>敏感信息</string>
		<string>抄袭内容</string>
		<string>骚扰我</string>
		<string>虚假中奖</string>
		<string>其它</string>
	</array>
	<key>MainTabBar</key>
	<array>
		<dict>
			<key>title</key>
			<string>首页</string>
			<key>titleColor</key>
			<string>RGBA(141, 107, 80, 1.0f)</string>
			<key>highlightedTitleColor</key>
			<string>RGBA(110, 77, 53, 1.0f)</string>
			<key>image</key>
			<string>index_index1.png</string>
			<key>highlightedImage</key>
			<string>index_index.png</string>
			<key>selectedBackgroundImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>供求</string>
			<key>image</key>
			<string>tabBar2_unsel.png</string>
			<key>titleColor</key>
			<string>RGBA(141, 107, 80, 1.0f)</string>
			<key>highlightedTitleColor</key>
			<string>RGBA(110, 77, 53, 1.0f)</string>
			<key>highlightedImage</key>
			<string>tabBar2_sel.png</string>
			<key>selectedBackgroundImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>学习</string>
			<key>image</key>
			<string>tabBar4_unsel.png</string>
			<key>titleColor</key>
			<string>RGBA(141, 107, 80, 1.0f)</string>
			<key>highlightedTitleColor</key>
			<string>RGBA(110, 77, 53, 1.0f)</string>
			<key>highlightedImage</key>
			<string>tabBar4_sel.png</string>
			<key>selectedBackgroundImage</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的</string>
			<key>image</key>
			<string>tabBar5_unsel.png</string>
			<key>titleColor</key>
			<string>RGBA(141, 107, 80, 1.0f)</string>
			<key>highlightedTitleColor</key>
			<string>RGBA(110, 77, 53, 1.0f)</string>
			<key>highlightedImage</key>
			<string>tabBar5_sel.png</string>
			<key>selectedBackgroundImage</key>
			<string></string>
		</dict>
	</array>
	<key>startImage</key>
	<array>
		<array>
			<string>Group 3 Copy 4.png</string>
			<string>logobannerwhite.png</string>
		</array>
		<array>
			<string>Group 8.png</string>
			<string>Group 10.png</string>
		</array>
		<array>
			<string>tree.png</string>
			<string>startGroup 5.png</string>
		</array>
		<array>
			<string>motion.png</string>
			<string>startGroup 3.png</string>
			<string>Bar.png</string>
		</array>
	</array>
	<key>ShareCrowdFund</key>
	<array>
		<dict>
			<key>title</key>
			<string>微信好友</string>
			<key>image</key>
			<string>icon_weixin</string>
			<key>PlatformType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>朋友圈</string>
			<key>image</key>
			<string>icon_pyq</string>
			<key>PlatformType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>生成海报</string>
			<key>image</key>
			<string>icon_schb</string>
			<key>PlatformType</key>
			<string>2</string>
		</dict>
	</array>
	<key>SharePosters</key>
	<array>
		<dict>
			<key>title</key>
			<string>微信好友</string>
			<key>image</key>
			<string>icon_weixin</string>
			<key>PlatformType</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>朋友圈</string>
			<key>image</key>
			<string>icon_pyq</string>
			<key>PlatformType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新浪微博</string>
			<key>image</key>
			<string>icon_weibo</string>
			<key>PlatformType</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>保存本地</string>
			<key>image</key>
			<string>icon_baocun</string>
			<key>PlatformType</key>
			<string>3</string>
		</dict>
	</array>
	<key>ShareMenuList</key>
	<array>
		<dict>
			<key>title</key>
			<string>微信好友</string>
			<key>image</key>
			<string>share_wx.png</string>
			<key>PlatformType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>朋友圈</string>
			<key>image</key>
			<string>share_wxPYQ.png</string>
			<key>PlatformType</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>QQ</string>
			<key>image</key>
			<string>share_qq.png</string>
			<key>PlatformType</key>
			<string>3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>QQ空间</string>
			<key>image</key>
			<string>share_kongjian.png</string>
			<key>PlatformType</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新浪微博</string>
			<key>image</key>
			<string>share_xinlang.png</string>
			<key>PlatformType</key>
			<string>5</string>
		</dict>
		<dict>
			<key>title</key>
			<string>复制链接</string>
			<key>image</key>
			<string>share_copy.png</string>
			<key>PlatformType</key>
			<string>6</string>
		</dict>
	</array>
	<key>CarsourceMore</key>
	<dict>
		<key>车型</key>
		<array>
			<string>面包车</string>
			<string>厢式</string>
			<string>平板</string>
			<string>高栏</string>
			<string>其它</string>
		</array>
		<key>载量</key>
		<array>
			<string>0~5吨</string>
			<string>5~10吨</string>
			<string>10~20吨</string>
			<string>30~40吨</string>
			<string>40~50吨</string>
			<string>其它</string>
		</array>
		<key>车长</key>
		<array>
			<string>0~5米</string>
			<string>5~10米</string>
			<string>10~15米</string>
			<string>15米以上</string>
		</array>
	</dict>
	<key>ActivtiesOrder</key>
	<dict>
		<key>公司名称</key>
		<string>iconfont-gongsi.png</string>
		<key>职位</key>
		<string>Group 33.png</string>
		<key>姓名</key>
		<string>Group 44.png</string>
		<key>联系电话</key>
		<string>iconfont-lianxidianhua.png</string>
	</dict>
	<key>HomePageCategoryList</key>
	<array>
		<dict>
			<key>title</key>
			<string>热门资讯</string>
			<key>detail</key>
			<string>园林圈的那些事儿~</string>
		</dict>
		<dict>
			<key>title</key>
			<string>中苗会战略合作企业</string>
			<key>detail</key>
			<string>园林圈的那些事儿~</string>
		</dict>
		<dict>
			<key>title</key>
			<string>爆款推荐</string>
			<key>detail</key>
			<string>专业数据把握市场风向</string>
		</dict>
		<dict>
			<key>title</key>
			<string>热门品种</string>
			<key>detail</key>
			<string>精选苗木行业靠谱企业</string>
		</dict>
		<dict>
			<key>title</key>
			<string>苗途VIP会员企业</string>
			<key>detail</key>
			<string>行业精选人物</string>
		</dict>
	</array>
</dict>
</plist>
