<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101050101</key>
	<string>哈尔滨</string>
	<key>101060101</key>
	<string>长春</string>
	<key>101070101</key>
	<string>沈阳</string>
	<key>101080101</key>
	<string>呼和浩特</string>
	<key>101090101</key>
	<string>石家庄</string>
	<key>New item - 30</key>
	<string></string>
	<key>New item - 29</key>
	<string></string>
	<key>New item - 28</key>
	<string></string>
	<key>New item - 27</key>
	<string></string>
	<key>New item - 26</key>
	<string></string>
	<key>New item - 25</key>
	<string></string>
	<key>New item - 24</key>
	<string></string>
	<key>New item - 23</key>
	<string></string>
	<key>New item - 22</key>
	<string></string>
	<key>New item - 21</key>
	<string></string>
	<key>New item - 20</key>
	<string></string>
	<key>New item - 19</key>
	<string></string>
	<key>New item - 18</key>
	<string></string>
	<key>New item - 17</key>
	<string></string>
	<key>New item - 16</key>
	<string></string>
	<key>New item - 15</key>
	<string></string>
	<key>New item - 14</key>
	<string></string>
	<key>New item - 13</key>
	<string></string>
	<key>New item - 12</key>
	<string></string>
	<key>New item - 11</key>
	<string></string>
	<key>New item - 10</key>
	<string></string>
	<key>New item - 9</key>
	<string></string>
	<key>New item - 8</key>
	<string></string>
	<key>New item - 7</key>
	<string></string>
	<key>New item - 6</key>
	<string></string>
	<key>New item - 5</key>
	<string></string>
	<key>New item - 4</key>
	<string></string>
	<key>New item - 3</key>
	<string></string>
	<key>New item - 2</key>
	<string></string>
</dict>
</plist>
